body, ul, li{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

body {
    background-color: #254836;
}

.header {
    background-color: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.links {
    padding: 10px;
}

.links:hover { 
    border: 2px solid #ffffff;
    border-radius: 20px;
}

.flexbox {
    background-color: #2F5B44;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 40px 40px 40px;
    text-align: center;
    align-content: center;
    align-items: center;
    height: fit-content;
    min-height: 70vh;
    font-size: 1.5em;
}

.flexbox > div {
    flex: 1 1 200px;
    justify-content: center;
    max-width: 100%;
    min-width: 40vw;
    padding: 10px 20px 0px 20px;
}

.maps {
    max-width: 100%;
}

.imggestao {
    width: 45vw;
    max-width: 100%;
    justify-content: center;
}

.footer {
    display: grid;
    grid-template-columns: 26vw 20vw 20vw;
    max-width: 100%;
    grid-gap: 10px;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: clamp(0.1rem, 0.95em, 2em);
}

@media (min-width: 1500px) {
    .footer {
        font-size: 1.2em;
    }
}

@media (max-width: 650px) {
    .imggestao {
        width: 64vw;
    }
}

@media (max-width: 550px) {
    .footer {
        font-size: 0.8em;
    }
}

@media (max-width: 400px) {
    .footer {
        font-size: 0.6em;
    }
    .flexbox {
        font-size: 1em;
    }
}
@media (max-width: 300px) {
    .imggestao {
        width: 80vw;
    }
    .footer {
        font-size: 0.5em;
    }
}

