body, ul, li, a{
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}

body {
  background-color: rgb(237, 253, 239);
}

.header {
  background-color: #1a3528;   
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 18px 25px 18px 25px;
  font-size: 1.2em;
  align-items: center;
}

.links {
  padding: 10px;
}

.links:hover { 
  transition: 0.2s;
  background-color: white;
  border: 2px solid #ffffff;
  border-radius: 20px;
  color: #1a3528;
}

.main {
  padding: 20px;
  position: relative;
}

.main1 {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  width: 33vw;
  padding: 20px 0 0 0;
  max-width: 80vw;
  border-top-right-radius: 10px ;
}

.mainItem {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: #1a3528;
  font-size: 0.95em;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  text-align: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.mainOpcao:hover {
  color: #1a3528;
  transition: 0.3s;
  border-radius: 20px;
  background-color: #ffffff;
}

.mainOpcao {
  padding: 10px 25px 10px 25px;
}

.mainForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  background: #2F5B44;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 15px 20px 30px 20px;
  text-align: center;
  align-items: center;
  margin: 10px;
  font-size: 1em;
  
}

.formInput {
  border: none;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  height: 5vh;
  width: 100%;
  box-shadow: 0 10px 30px 0 #1a3528;
  background-color: rgb(237, 247, 238)
}

.btnForm {
  display: flex;
  justify-content: center;
  border: 2px solid #1a3528;
  align-items: center;
  min-width: 160px;
  height: 50px;
  background-color: #2F5B44;
  border-radius: 25px;
  color: #fff;
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 10px 30px 0 #468866;
  
}

@media (max-width: 970px) {
  .main1 {
    width: 40vw;
  }
}

@media (max-width: 650px) {
  .main1 {
    width: 50%;
  }
  .form {
    font-size: 0.8em;
  }
}

@media (max-width: 610px) {
  .mainItem {
    flex-direction: column;
  }
}

@media (max-width: 580px) {
  .main1 {
      width: 60vw;
  }
}

@media (max-width: 450px) {
  .formInput {
      font-size: 0.8em;
      width: 90%;
  }
  .mainItem {
      font-size: 1em;
  }
  .main1 {
      width: 90vw;
  }

  h2 {
      font-size: 1.2em;
  }

  .form {
    font-size: 1em;
  }

  .header {
      font-size: 1em;
  }
}