/* Config da página */
html {
  height: 100%
}

h2 {
  margin-bottom: 5%;
}

body#grad {
  background-color: #4a5057;
}

/* Sistema de autenticação */

div.main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin-top: 3.125rem;
}

label {
  display: block;
  background-color: #212529;
  color: white;
  width: 33.33%;
  text-align: center;
  padding: 0.625rem;
}

label:first-child {
  border-radius: 0.625rem 0rem 0rem 0rem;
}

label:last-child {
  border-radius: 0rem 0.625rem 0rem 0rem;
}

.loginChoice {
  width: 100%;
  display: flex;
}

.loginStyle {
  background-color: #b1b1b1;
  padding: 0.9375rem;
  border-radius: 0rem 0rem 0.625rem 0.625rem;
}

div div.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21.875rem;
  justify-content: center;
}


form.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin: 0.3125rem 0rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0.625rem;
  padding: 0.625rem;
  border-color: #212529;
  border-width: 0.125rem;
}

button {
  padding: 0.3125rem;
  border-radius: 0.625rem;
  width: 50%;
  margin-top: 10%;
  border: #212529 solid 0.0625rem;
  background-color: #212529;
  color: white
}

/*h overs */
label:hover {
  background-color: #0D731C;
}

button:hover {
  background-color: #0D731C;
}