/* Config da página */
* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

h2 {
  margin-bottom: 5%;
  color: white;
}

body#grad {
  background-color: rgb(47, 91, 68);
}

/* Sistema de autenticação */

div.main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin-top: 3.125rem;
}

label {
  display: block;
  background-color: #212529;
  color: white;
  width: 33.33%;
  text-align: center;
  padding: 0.625rem;
}

label:first-child {
  border-radius: 0.625rem 0rem 0rem 0rem;
}

label:last-child {
  border-radius: 0rem 0.625rem 0rem 0rem;
}

.loginChoice {
  width: 100%;
  display: flex;
}

.loginStyle {
  background-color: #343a3f;
  padding: 0.9375rem;
  border-radius: 0rem 0rem 0.625rem 0.625rem;
}

div div.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21.875rem;
  justify-content: center;
}


form.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  border: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  margin-top: 5%;
  margin-bottom: 2%;
  color: black;
  width: 75%;
}

button {
  padding: 0.625rem;
  border-radius: 0.625rem;
  width: 75%;
  margin-bottom: 10%;
  margin-top: 5%;
  background-color: #212529;
  border: none;
  color: white;
  border: 1px solid black
}

.recuperacao {
  color: rgb(179, 179, 179);
  text-decoration: none;
}

.recuperacao:hover {
  color: rgb(219, 219, 219);
}

.bg-dark {
  height: 8vh;
}

hr {
  border-color: white;
}

/* hovers */
label {
  font-weight: 400;

}

button:hover {
  background-color: #000000;
  transition: 1s;
}


.d-flex a{
  color: rgb(209, 209, 209);
  text-decoration: none;
  padding: 10px;
}

.d-flex a.home{
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px;
}

.d-flex a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 20px;
  padding: 10px;
  transition: 0.1s;
}

img {
  width: 25%;
  margin: 0px;
  filter: invert(1) drop-shadow(2px 4px 6px black);
}

hr {
  width: 50%;
  border-color: white;
}