.page {
    display: flex;
    height: 92vh;
    padding: 3%;
}

body {
    background-color: #2f5b44;
}

.funcoes h1 {
    height: 5%;
    width: 100%;
    margin-bottom: 10px;
    display: inline-table;
}

.perfil {
    display: flex;
    height: 100%;
    width: 25%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    padding: 3%;
    margin-right: 1.25rem;
    justify-content: space-between;
    padding-bottom: 5%;
    background-color: rgba(240, 248, 255, 0.829);
    box-shadow: 0px 0px 5px black;
}

.funcoes {
    display: flex;
    height: 100%;
    width: 75%;
    flex-direction: column;
    border-radius: 20px;
    padding: 3%;
    background-color: rgba(240, 248, 255, 0.829);
    overflow: auto;
    box-shadow: 0px 0px 5px black;
}


.sessao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3%;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}



form {
    margin: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 30%;
    box-shadow: 0px 0px 10px black;
}

.user {
    margin: 10% 0% 0% 0%;
}

.nomeAdmin {
    margin: 0% 0% 10% 0%;
}

.botaoModalRegistro{
    background-color: #37712d;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: 400;
    margin-right: 10px;
}

.botaoModalRegistro:hover {
    background-color: #173014;
    transition: 1s;
}

.center {
    text-align: center;
}

.botaoModalInfo {
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: 700;
    color: white;
    background-color: rgb(67, 67, 67);
}

.botaoModalInfo:hover {
    background-color: rgb(0, 0, 0);
    transition: 1s;
}

.botoesModais {
    display: flex;
    justify-content: center;
}

.sticky-top {
    height: 8vh;
}

.user {
    margin: 10% 0% 0% 0%;
}

.nomeEmpresa {
    font-weight: bold;
}

.nomeAdmin {
    margin: 0% 0% 10% 0%;

}

.botaoRegistro {
    display: flex;
    margin-right: 0.625rem;
    padding: 0.625rem;
    background-color: white;
    border-radius: 0.625rem;
    justify-content: center;
    height: 100%;
}

.funcoes h1 {
    margin-bottom: 20px;
    margin-left: 10px;
}

.botaoRegistro:hover {
    background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, rgb(110, 110, 110) 0%, rgb(121, 121, 121) 100.2%);
    color: white;
}

.linksFunc {
    text-decoration: none;
    color: #000;
    width: 30%;
}

.nomeAdmin a{
    text-decoration: none;
    color: rgba(32, 124, 251, 0.665);
}

.perfil div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:hover {
    color: #000;
}

@media (max-width: 700px) {
    .page {
        flex-direction: column;
    }

    .sessao {
        justify-content: center;
    }

    form {
        width: auto;
    }

    .funcoes h1 {
        height: 5%;
        width: 100%;
        margin-left: 0px;
        text-align: center;
        height: 40%;
    }

    .perfil {
        width: 100%;
        margin-bottom: 5%;
        display: flex;
        justify-content: center;
    }

    .funcoes {
        width: 100%;
    }
}

@media (max-height: 550px) {
    .perfil {
        overflow: scroll;
        overflow-x: hidden;
    }

    .perfil::-webkit-scrollbar {
        width: fit-content;
    }

    /* Track */
    .perfil::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 0px 20px 20px 0px;
    }

    .perfil::-webkit-scrollbar-corner {
        border-radius: 0px 20px 20px 0px;
    }

    /* Handle */
    .perfil::-webkit-scrollbar-thumb {
        background: rgb(33, 37, 41);
        border-radius: 0px 20px 20px 0px;
        width: 3px;
    }

    /* Handle on hover */
    .perfil::-webkit-scrollbar-thumb:hover {
        background: rgb(97, 97, 97);
    }

}

.nomeAdmin button {
    border: none;
    padding: 5%;
    border-radius: 10px;
    font-weight: bold;
    background-color: #2f5b44;
    color: white;
    outline: none;
}

.navbar-toggler {
    outline: none;
    
}

.nomeAdmin button:hover {
    background-color: #244634;
    transition: 1s;
}

@media (max-height: 490px) {
    .funcoes {
        overflow: scroll;
        overflow-x: hidden;
    }

    .funcoes::-webkit-scrollbar {
        width: fit-content;
    }

    /* Track */
    .funcoes::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 0px 20px 20px 0px;
    }

    .funcoes::-webkit-scrollbar-corner {
        border-radius: 0px 20px 20px 0px;
    }

    /* Handle */
    .funcoes::-webkit-scrollbar-thumb {
        background: rgb(33, 37, 41);
        border-radius: 0px 20px 20px 0px;
    }

    /* Handle on hover */
    .funcoes::-webkit-scrollbar-thumb:hover {
        background: rgb(97, 97, 97);;
    }

    .perfil {
        height: 35%;
    }
}

.funcoes {
    overflow: scroll;
    overflow-x: hidden;
}

.funcoes h1 {
    text-align: center;
}

.funcoes::-webkit-scrollbar {
    width: fit-content;
}

/* Track */
.funcoes::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0px 20px 20px 0px;
}

.funcoes::-webkit-scrollbar-corner {
    border-radius: 0px 20px 20px 0px;
}

/* Handle */
.funcoes::-webkit-scrollbar-thumb {
    background: rgb(33, 37, 41);
    border-radius: 0px 20px 20px 0px;
}

/* Handle on hover */
.funcoes::-webkit-scrollbar-thumb:hover {
    background: rgb(97, 97, 97);;
}

body {
    background: url('../../../imagens/background.svg') no-repeat;
    background-size: cover;
}

.interest {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.simboloCirculo {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: green;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.simboloQuadrado {
    width: 5vw;
    height: 5vw;
    border-radius: 20px;
    background-color: rgb(71, 71, 71);
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.seta {
    width: 25%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
}

.curriculo {
    width: 25%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse:separate;
    border-spacing: 0 10px;
}

td {
    width: 16%;
    margin-top: 2%;
    margin-bottom: 2%;
}

@media (max-width: 400px) {
    .respInterest {
        display: none;
    }
}